.cursor {
  stroke: coral;
  stroke-width: 0.05;
  animation: winker 1s linear 0s infinite normal none;
}

@keyframes winker {
  0% {
    stroke: coral;
  }

  70% {
    stroke: none;
  }

  100% {
    stroke: coral;
  }
}
.rect {
  fill: #eff;
  stroke: #000;
  stroke-width: 0.05;
}

.character {
  stroke: green;
  stroke-width: 20;
  fill: none;
}

.A {
  stroke: blue;
}
.B {
  stroke: black;
}
.C {
  stroke: red;
}

.back-line {
  stroke: black;
  stroke-width: 0.1;
}

body {
  text-align: center;
}
